<% include partials/head-player %>

    <body>
        <header>
            <% include partials/header %>
        </header>


        <div class="container-fluid">


            <div class="row player-container">
                <div class="col-md-8 col-xs-12 no-padding">


                    <!-- the player -->
    
                    <!-- <% if(video.playerType == "Flowplayer-Single" || video.playerType == null){ %>
                    <div class="flowplayer" data-key="$863732616083910, $168467931371094">
                        <video autoplay>
                            <source type="video/mp4" src="<%= video.videoPath %>">
                        </video>
                    </div>
                    <% } %>
                    <% if(video.playerType == "paella"){ %>
                        <iframe allowfullscreen src="http://beuthbox-opencast.beuth-hochschule.de/paella/ui/embed.html?id=<%= video.opencastId %>" style="border: none; width: 100%; height: 70vh" name="Paella Player" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px"></iframe>
                        <iframe allowfullscreen src="http://beuthbox-opencast.beuth-hochschule.de/paella/ui/embed.html?id=<%= video.id %>" style="border: none; width: 100%; height: 70vh" name="Paella Player" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px"></iframe>
                        <iframe allowfullscreen src="/paella/ui/embed.html?id=<%= video.id %>" style="border: none; width: 100%; height: 70vh" name="Paella Player" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px"></iframe>
                        <% } %>  -->

                        <!-- --------------------- -->

                        <iframe allowfullscreen src='http://beuthbox-opencast.beuth-hochschule.de/paella/ui/embed.html?id=<%= video.ocid %>' style="border: none; width: 100%; height: 70vh" name="Paella Player" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px"></iframe>
    
                     <!-- the player -->
                
                </div>

                <div class="col-md-4 col-xs-12 no-padding">
                    <div class="video-info">
                        <div class="video-title">
                            <%= video.name %> 
                        </div>
                 
                        <p class="views_info">
                            <%= video.views %> Views
                        </p>

                        <% for (let i = 0; i < video.tags.length; i++){ %>

                            <a href="/search?tag=<%= video.tags[i] %>" class="badge">
                                <%= video.tags[i] %>
                            </a>

                            <% } %>

                                <% if(video.description){ %>
                                    <div class="video-header">
                                        Beschreibung
                                    </div>
                                    <p>
                                        <%- video.description %>
                                    </p>
                                    <% } %>

                                        <!-- <div class="video-header">
                                            Produktion
                                        </div>
                                        <p>

                                        </p> -->

                    </div>
                </div>

            </div>
            <!--end player-->

        </div>

        <script>
            $(document).ready(function () {
                $.get("<%= apiUrl %>/videos/<%= video._id %>/updateviewcount", function(data, status){
                    console.log("Data: " + data + "\nStatus: " + status);
                });
            });
        </script>


        <% include partials/footer %>